{% extends './base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
  <h1>Posts</h1>
  <a class="btn btn-primary" href="{{url_for('posts.create')}}">Add New Post</a>
  <div class="row">
    {% for post in posts %}
      <div class="col-md-12 mb-4">
        <div class="card w-75 container">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-12 d-flex align-items-center">
                <img src="/static/images/users/{{ post.user.image }}" alt="Profile Picture" class="rounded-circle" width="40px" height="40px">
                <h5 class="card-title">{{ post.user.first_name | capitalize}} {{ post.user.last_name | capitalize }}</h5>
              </div>
            </div>
            <p class="card-text mt-2">{{ post.description }}</p>
            <img class="card-img-bottom img-fluid" src="/static/images/posts/{{ post.image }}" alt="Card image cap">
            <div class="card-footer">
              <a class="btn btn-primary" href="{{url_for('posts.post_details', id=post.id)}}">Details</a>
              {% if current_user.id == post.user.id %}
                <a class="btn btn-primary" href="{{url_for('posts.update', id=post.id)}}">Edit</a>
                <a class="btn btn-danger" href="{{url_for('posts.delete', id=post.id)}}">Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}