{% extends './base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Posts</h1>
<table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>image</th>
        <th>options</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.name }}</td>
            <td>{{ post.description }}</td>
            <td>
                <img src="/static/images/{{ post.image }}" alt="" width="50px" height="50px">
            </td>
            <td>
                <a class="btn btn-info" href="{{url_for('home')}}">Back To Home</a>
            </td>
        </tr>
    </tbody>
  </table>
{% endblock %}